<?xml version="1.0" encoding="UTF-8"?>








<launch>

<arg name="x" default="0"/>
<arg name="y" default="0"/>
<arg name="z" default="0.2"/>
<arg name="roll" default="0"/>
<arg name="pitch" default="0"/>
<arg name="yaw" default="0"/>

<include file="$(find diff_drive)/launch/ddrive_rviz.launch"/>

<!-- launch Gazebo World -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(find diff_drive)/world/ddrive.world"/>
</include>

<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find diff_drive)/urdf/ddrive.urdf.xacro'"/>

<node name="robot_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model diff_drive 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

</launch>